.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.name {
  flex: 7;
  cursor: pointer;
}

.amount {
  flex: 3;
  text-align: right;
  padding-right: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.icon {
  flex: 1;
  cursor: pointer;
}

.positive {
  background-color: #efe;
}

.negative {
  background-color: #fee;
}
