.container {
    flex: 1;
    padding: 1rem;
    box-shadow: var(--shadow-global);
    border-radius: 0.5rem;
    background-color: #efe;
}

.sum {
    font-size: 1.5rem;
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2rem;
}


.listItem {
    font-size: 0.9rem;
    font-weight: 600;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.positive {
    background-color: #efe;
    color: green
}

.negative {
    background-color: #fee;
    color:crimson
}

.title {
    color: black
}